version: 2.1

jobs:
  build-and-test:
    working_directory: ~/repo/peng
    docker:
      - image: python:3.7.3-stretch
    steps:
      - checkout:
          path: ~/repo
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            # Setup virtualenv
            make setup
            # Install project dependencies
            make install
      - save_cache:
          paths:
            - ./.devops
          key: v1-dependencies-{{ checksum "requirements.txt" }}
      - run:
          name: run lint
          command: |
            make lint
  deploy_app:
    environment:
       imageName: my-app 
    # specity what will execute steps
    docker:
      - image: cimg/python:3.10.0-node
        auth:
          # Environmental variables set from $context_name context
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
    
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
          docker_layer_caching: true
      - run:
          name: Build, tag and push image
          command: |
            chmod 777 run_docker.sh
            chmod 777 upload_docker.sh
            sh /peng/run_docker.sh
            sh /peng/upload_docker.sh
  kubernetes-deploy:
    docker:
      - image: cimg/python:3.10.0-node
    steps:
      - checkout
      - run:
          name: Create deployment and service
          command: |
            sh run_kubernetes.sh

workflows:
  default:
    jobs:
      - build-and-test
      - deploy_app:
          requires: [build-and-test]
          # context:
          #   - docker credentials
      - kubernetes-deploy:
          requires: [deploy_app]
