<!DOCTYPE html>
<html lang="en">
    <head>  
        <link rel="stylesheet" href="/static/style.css">
        <meta charset="utf-8">
        <title>THE PENG THRIFSTORE</title>
    </head>
    <body>
        <div class="welcome">
           <h1>Welcome to the Peng Thrifstore</h1><br/>
           <p>Home of affordable clothes and accesories</p>
        </div>
     

        <div class="conn">Let's connect
        <address>
            <a href="mailto:debbiequarsh@gmail.com.com">debbiequarsh@gmail.com</a><br>
            <a href="tel:+233502698419">(233) 502-698-419</a>
          </address></div>
      

    </body>
</html>